.heading {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.button {
    -fx-background-color: #FFD3E0;
    -fx-text-fill: #4E4E4E;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #FFA8C7;
}
